<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Citizens</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script>
        $(document).ready(function () {

            var tableNew = $("#identityCardTable").DataTable({
                responsive: true,
                ordering: false,
                "iDisplayLength": 25,
                "bLengthChange": false,
                "language": {
                    search: "Поиск:",
                    emptyTable: "Данных нет",
                    paginate: { previous: "Пред.", next: "След." },
                    processing: "Загрузка...",
                    //info: " ASDAD  _START_ asdasdasd  _END_  asdsd  _TOTAL_  asdasdsd",
                    info: " _END_ из _TOTAL_  запросов",
                    infoEmpty: "Пусто",
                    zeroRecords:"Данных нет",
                    lengthMenu: " Показать _MENU_ записей"
                }
            });

            $("#identityCardTable_filter").css("display", "none");

            $("#searchFieldIdentityCard").on("keyup", function () {
                tableNew.search(this.value).draw();
            });
        });
    </script>
</head>
<body>
<div th:switch="${icards}" class="container my-5">
    <div class="row">
        <input type="text" id="searchFieldIdentityCard" class="form-control" placeholder="Поиск">
        <div class="col-md-6">
            <h2 th:case="null">No users yet!</h2>
            <div th:case="*">
                <h2 class="my-5">Удостоверения личности</h2>
                <table id="identityCardTable" class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Номер документа</th>
                        <th>Тип документа</th>
                        <th>Орган выдавший документ</th>
                        <th>Дата выдачи</th>
                        <th>Дата истечения срока</th>

                        <th>Гражданин</th>

                        <th>Редактировать</th>
                        <th>Удалить</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="card : ${icards}">
                        <td th:text="${card.id}"></td>
                        <td th:text="${card.documentType}"></td>
                        <td th:text="${card.documentOrgan}"></td>
                        <td th:text="${card.dateIssue}"></td>
                        <td th:text="${card.dateDue}"></td>

                        <td th:text=" ${card.user.lastname}  + ' '+ ${card.user.firstname} + ' '+ ${card.user.patronymic}"></td>

                        <td><a th:href="@{/identitycard/edit/{id}(id=${card.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                        <td><a th:href="@{/identitycard/delete/{id}(id=${card.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p class="my-5"><a href="/identitycard/add" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a></p>
        </div>
    </div>
</div>
</body>
</html>